body {
  padding-top: 50px;
}

.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li > a {
  padding: 2px 20px;
  cursor: pointer;
}

.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}

.nav-sidebar .thumbnail {
  padding: 0px;
  display: inline-block;
  margin: 10px;
}


.nav-sidebar .thumbnail:hover {
  border-color: #ddd;
}

#app {
}

.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
  cursor: pointer;
}

text {
  font: 10px sans-serif;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: pointer;
}

